
<%= render @collection %>
</br>
<div>
  <%= link_to "Edit this collection", edit_collection_path(@collection), class:"btn btn-success" %> |
  <%= link_to "Back to collections", collections_path, class:"btn btn-secondary" %>
  </br> </br>
  <%= button_to "Delete", @collection, method: :delete, class:"btn btn-danger" %>
</div>
