<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header bg-success text-white">
      <h1 class="card-title mb-0">About Us</h1>
    </div>
    <div class="card-body">
      <h3 class="card-subtitle mb-3">Est. in 2024</h3>
      <p class="card-text">
        This is my first Ruby on Rails web-application. The application provides users with the ability to manage and store their collections, which are divided by categories.
      </p>
      <p class="card-text">
        For any inquiries, feel free to reach out to me:
      </p>
      <h4>
        <i class="fas fa-envelope"></i> <a href="mailto:marsul607@gmail.com">marsul607@gmail.com</a>
      </h4>
    </div>
    <div class="card-footer text-muted">
      Thank you for visit!
    </div>
  </div>
</div>